.project
.pydevproject
.settings
.vscode

bot/mastodon.credentials
bot/twitter.credentials
bot/bot.cache

web/public/index.html
web/public/berbak-esamoldiek
web/public/resources/bermiotarra.pdf
web/public/resources/bermiotarra.epub
web/private/dist
web/private/node_modules
