<!DOCTYPE html>
<html lang="eu">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}resources/img/favicon.png">
<link rel="stylesheet" href="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}resources/css/reset.css">
<link rel="stylesheet" href="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}resources/css/bermiotarra.css">
<title>${__params.TITLE}</title>
</head>
<body>
<h1><a href="${__params.LINK_HOME}">${__params.HEADER}</a></h1>
<div id="content">